{% extends 'base.html.twig' %}

{% block navigation %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('todo_home') }}">Todo</a></li>
    </ul>
{% endblock %}

{% block sidebar %}
	<h3>Add a new Todo</h3>
	<p>Add a Todo, all fields are required.</p>
{% endblock %}

{% block body %}
    <a class="btn btn-default btn-sm" href="{{ path('todo_home') }}">back</a>
    <h2 class="page_header">{{ todo.name }}</h2>
    <hr>
    <ul class="list-group">
	    <li class="list-group-item">Category: {{ todo.category }}</li>
	    <li class="list-group-item">Priority: {{ todo.priority }}</li>
	    <li class="list-group-item">Due Date: {{ todo.dueDate|date('F j, Y g:i a') }}</li>
	    <p>
	    	{{ todo.description }}
	    </p>
    </ul>
{% endblock %}
